:root {
    --primaryColor: rgb(64, 64, 141);
    --secondaryColor: rgb(164, 198, 248);
    --textColor: rgb(38, 38, 38);
    --greyColor: rgb(218, 213, 213);
    --whitecolor: white;
    --blackcolor: rgb(52, 51, 51);
  }
  
  .auction {
    .secContainer {
        padding: 2rem;

      .secHeading {
        display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1.5rem;
            .secTitle {
                font-size: 2rem;
                color: var(--blackColor);
                font-weight: 700;
            }

        .navBtns {
          gap: 1rem;
  
          .icon {
            padding: 8px;
            background: var(--secondaryColor);
            border-radius: 3px;
            font-size: 32px;
            cursor: pointer;
  
            &:hover {
              background: var(--primaryColor);
              color: var(--textColor);
            }
          }
        }
      }
  
      .carContainer {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        align-items: stretch;

        .singleCar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: transform 0.3s ease, box-shadow 0.2s ease;
            border-radius: 8px;
            overflow: hidden;
            text-align: left;
            min-height: 400px;
  
          .imgDiv {
            height: 200px;
            width: 100%;
            overflow: hidden;
            border: 5px solid transparent;
  
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
  
          .carTitle {
            color: var(--blackcolor);
            font-size: 18px;
            padding-top: 10px;
          }
          .miles {
            display: flex;
            justify-content: space-between; /* Space between columns */
            margin-left: 10px;
            width: 100%; /* Full width of the container */
          }
          
          .miles-column {
            display: flex;
            flex-direction: column; /* Stack items vertically in each column */
            gap: 0px; /* Optional: Add space between each item inside the column */
            width: 50%; /* Optional: Adjust column width to fit within container */
          }
          
          .miles p{
            color: var(--blackcolor);
            opacity: .9;
            font-size: 14px;
            line-height: 8px;

          }
        
  
          .price_seller {
            gap: 1rem;
            display: flex;
            align-items: center;
  
            span {
              cursor: pointer;
              padding: .5rem .5rem;
              border-radius: 3px;
              font-weight: 600;
            }
  
            .price {
              background: var(--primaryColor);
              color: var(--secondaryColor);
  
              &:hover {
                background-color: var(--primaryColor);
                color: var(--whitecolor);
              }
            }
  
            .buy_btn {
                background: var(--secondaryColor);
                color: var(--whiteColor);
                padding: 0.5rem 1rem;
                border-radius: 3px;
                font-weight: 600;
                cursor: pointer;
                
              &:hover {
                background: var(--secondaryColor);
                color: var(--blackcolor);
              }
            }
          }
  
          &:hover {
            transform: translateY(-6px);
            background: var(--greyColor);
           
          }
        }
  
        .singleActive {
          background: var(--greyColor);
        }
      }
    }
  }
  
  @media screen and (min-width: 560px) {
    .auction {
      .secContainer {
        .secHeading {
          margin-top: 1rem;
  
          .carTitle {
            font-size: 23px;
          }
  
          .navBtns {
            gap: .5rem;
  
            .icon {
              font-size: 40px;
            }
          }
        }
  
        .carContainer {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  
  @media screen and (min-width: 990px) {
    .auction {
      .secContainer {
        .secHeading {
          .carTitle {
            font-size: 30px;
          }
  
          .navBtns {
            gap: .5rem;
          }
        }
  
        .carContainer {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
  