:root {
  --primaryColor: rgb(64, 64, 141);
  --secondaryColor: rgb(164, 198, 248);
  --textColor: rgb(38, 38, 38);
  --greyColor: rgb(218, 213, 213);
  --whiteColor: white;
  --blackColor: rgb(52, 51, 51);
}



.trending {
    overflow-y: hidden;
    
  .secContainer {
    padding: 3rem 2rem; /* Ensure padding matches auction */
    overflow: hidden;
    .secHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 0;
      
      .secTitle {
        font-size: 2.1rem;
        color: var(--blackColor);
        font-weight: 700;
      }
      
      .navBtns {
        display: flex;
        gap: 1rem;
        
        .icon {
          padding: 9px;
          background: var(--secondaryColor);
          border-radius: 3px;
          font-size: 38px;
          cursor: pointer;
          
          &:hover {
            background: var(--primaryColor);
            color: var(--whiteColor);
          }
        }
      }
    }
    
    .carContainer {
        margin-top: 1rem;
      display: flex;
      overflow-x: auto;
      flex-direction: column;
      gap: 2rem;
      scroll-behavior: smooth;
      transition: transform 0.3s ease;
      
      .singleCar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.3s ease, box-shadow 0.2s ease;
        border-radius: 8px;
        
        overflow: hidden;
        text-align: left;
        min-height: 360px;
        border: 5px solid transparent;
        
        .imgDiv {
          max-height: 500px;
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
          
          img {
             max-height: 550px;
             height: 100%;
            width: 100%;
            min-width: 100%;
            object-fit: cover;
          }
        }
        
        .carTitle {
          color: var(--blackColor);
          font-size: 18px;
          padding-top: 0px;
        }
        
        .miles {
          color: var(--blackColor);
          opacity: 0.7;
          font-size: 14px;
        }
        
        .AWD {
          padding: 0rem 0rem;
          color: var(--blackColor);
          font-weight: 600;
        }
        
        .price_seller {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          padding: 0.75rem;
          border-top: 1px solid var(--greyColor);
          
          .price {
            background: var(--secondaryColor);
            color: var(--primaryColor);
            padding: 0.5rem 1rem;
            border-radius: 3px;
            font-weight: 600;
            cursor: pointer;
            
            &:hover {
              background-color: var(--primaryColor);
              color: var(--whiteColor);
            }
          }
          
          .buy_btn {
            background: var(--secondaryColor);
            color: var(--whiteColor);
            padding: 0.5rem 1rem;
            border-radius: 3px;
            font-weight: 600;
            cursor: pointer;
            
            &:hover {
              background-color: var(--secondaryColor);
              color: var(--blackColor);
            }
          }
        }
        
        &:hover {
          transform: translateY(-2px);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        }
      }
      
      .singleActive {
        background: var(--greyColor);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .trending {
    .secContainer {
      .carContainer {
        .singleCar {
          .imgDiv {
            height: 500px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .trending {
    .secContainer {
      .carContainer {
        .singleCar {
          .imgDiv {
            height: 600px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .trending {
    .secContainer {
      .carContainer {
        .singleCar {
          .imgDiv {
            height: 550px;
          }
        }
      }
    }
  }
}