:root {
  --primaryColor: rgb(64, 64, 141);
  --secondaryColor: rgb(164, 198, 248);
  --textColor: rgb(38, 38, 38);
  --greyColor: rgb(218, 213, 213);
  --whiteColor: white;
  --blackColor: rgb(52, 51, 51);
}



.trending {
    overflow-y: hidden;
    
  .secContainer {
    padding: 3rem 2rem; /* Ensure padding matches auction */
    overflow: visible; /* Change this to visible to allow hover effect to be seen */
    position: relative;
    .secHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 0;
      
      .secTitle {
        font-size: 2.1rem;
        color: var(--blackColor);
        font-weight: 700;
      }
      
      .navBtns {
        display: flex;
        gap: 1rem;
        
        .icon {
          padding: 9px;
          background: var(--secondaryColor);
          border-radius: 3px;
          font-size: 38px;
          cursor: pointer;
          
          &:hover {
            background: var(--primaryColor);
            color: var(--whiteColor);
          }
        }
      }
    }
    
    .carContainer {
        margin-top: 2rem;
      display: flex;
      overflow-x: auto;
      flex-direction: column;
      gap: 2rem;
     
     
      
      .singleCar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.3s ease, box-shadow 0.2s ease;
        border-radius: 8px;
        
        overflow: hidden;
        text-align: left;
        min-height: 100%;
        max-height: 1500px;
        border: 5px solid transparent;
        
        .imgDiv {

          height: 100%;
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
          
          img {
            width: 100%;
            height: 100%;
          
            object-fit: contain; /* Ensures the image covers the container */
            object-position: center; 
          }
        }
        
        .carTitle {
          color: var(--blackColor);
          font-size: 18px;
          padding-top: 0px;
          padding-left: 10px;
        }
        
        .miles {
          display: flex;
          justify-content: space-between; /* Space between columns */
          margin-left: 10px;
          width: 100%; /* Full width of the container */
        }
        
        .miles-column {
          display: flex;
          flex-direction: column; /* Stack items vertically in each column */
          gap: 0px; /* Optional: Add space between each item inside the column */
          width: 50%; /* Optional: Adjust column width to fit within container */
        }
        
        .miles p{
          color: var(--blackcolor);
          opacity: .9;
          font-size: 14px;
          line-height: 8px;

        }
        
        .price_seller {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          padding: 0.75rem;
          border-top: 1px solid var(--greyColor);
          
          .price {
            background: var(--secondaryColor);
            color: var(--primaryColor);
            padding: 0.5rem 1rem;
            border-radius: 3px;
            font-weight: 600;
            cursor: pointer;
            
            &:hover {
              background-color: var(--primaryColor);
              color: var(--whiteColor);
            }
          }
          
          .buy_btn {
            background: var(--secondaryColor);
            color: var(--whiteColor);
            padding: 0.5rem 1rem;
            border-radius: 3px;
            font-weight: 600;
            cursor: pointer;
            
            &:hover {
              background-color: var(--secondaryColor);
              color: var(--blackColor);
            }
          }
        }
      }
        &:hover {
          transform: translateY(- 10px);
          background: var(--greyColor);
          border-radius: 10px;
        }
      
      
      .singleActive {
        background: var(--greyColor);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .trending {
    .secContainer {
      .carContainer {
        .singleCar {
          .imgDiv {
            height: 500px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .trending {
    .secContainer {
      .carContainer {
        .singleCar {
          .imgDiv {
            max-height: 1800px;
          

          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .trending {
    .secContainer {
      .carContainer {
        .singleCar {
          .imgDiv {
            max-height: 2000px;
          }
        }
      }
    }
  }
}