:root {
  --primaryColor: rgb(64, 64, 141);
  --secondaryColor: rgb(164, 198, 248);
  --textColor: rgb(38, 38, 38);
  --greyColor: rgb(218, 213, 213);
  --whiteColor: white;
  --blackColor: rgb(52, 51, 51);
}

.searchResults {
  padding: 0rem;
}

.resultItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  min-height: 400px;
  background: var(--whiteColor);
  margin-bottom: 0rem;
  padding: 1.5rem 2rem;
}

.imgDiv {
  height: 100%;
  max-height: 250px;
  width: 100%;
  overflow: hidden;
  border: 5px solid transparent;
 
}

.imgDiv img {
 height: 280px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.resultDetails {
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.carTitle {
  font-size: 18px;
  color: var(--blackColor);
  padding-top: 0px;
}

.miles {
  color: var(--blackColor);
  opacity: 0.7;
  font-size: 14px;
}

.AWD {
  padding: 0rem ;
  color: var(--blackColor);
  font-weight: 600;
}

.price_seller {
  display: flex;
  justify-content: space-between; /* Buttons aligned flex-start and flex-end */
  gap: 1rem;
  align-items: center;
  margin-top: 5px;
}

.price {
  background: var(--primaryColor);
  color: var(--secondaryColor);
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.price:hover {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}

.buy_btn {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.buy_btn:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}

.resultItem:hover {
  transform: translateY(-6px);
  background: var(--greyColor);
}

/* Responsive Styles */
@media screen and (min-width: 560px) {
  .searchResults {
    .resultItem {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 990px) {
  .searchResults {
    .resultItem {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
